<div class="container mt-5">
  <input type="text" [(ngModel)]="newtodo">
  <button (click)="addTodo()">Add Todo</button>
  <h1>{{tfilter()}}</h1>
  <input type="radio" name="filt" value="all" [(ngModel)]="tfilter">:All &nbsp;&nbsp;
  <input type="radio" name="filt" value="done" [(ngModel)]="tfilter">:DONE &nbsp;&nbsp;
  <input type="radio" name="filt" value="notdone" [(ngModel)]="tfilter">:NotDONE &nbsp;&nbsp;
  <ul>
    @for (todo of alltodos|todofilter:tfilter(); track todo;let i=$index) {
      <app-todo [todo]="todo" [i]="i" (toggleTodo)="toggleTodo(i)" (deleteTodo)="deleteTodo(i)"></app-todo>
    }
  </ul>
</div>