<h1>Edupoly for Quality Trainings</h1>
<div class="p-3">
  <input type="text" [(ngModel)]="newtodo">
  <button (click)="addTodo()">Add Todo</button>
  <div>
    <input type="radio" [(ngModel)]="fil" value="all">:All
    <input type="radio" [(ngModel)]="fil" value="done">:Done
    <input type="radio" [(ngModel)]="fil" value="notdone">:NotDONE
  </div>
  <ul>
    @for(todo of todos()|tfilter:fil();track todo;let i = $index){
      <app-todo [todo]="todo" [i]="i" (deleteTodo)="deleteTodo(i)" (toggleTodo)="toggleStatus(i)"></app-todo>
    }
  </ul>
</div>